<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fence By Spence</title>
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">
</head>
<body>
    <h1>Fence by Spence</h1>
    <nav class="nav-bar">
        <ul> <!-- ul is an unorderd list -->
            <li> <a href="home.html">Home</a></li>
            <li> <a href="products.html">Products</a></li>
            <li> <a href="contact.html">Contact</a></li>
        </ul> 
    </nav>

    <section class="container">

        <div class="fence-products">
            <div class="fence-products-slider">
                <img id="slide1" src="{{ url_for('static', filename='images/fence-bronze-aluminum-two-rail-standard.jpg')}}" alt="bronze-aluminum-standard fence panels">
                <img id="slide2" src="{{ url_for('static', filename='images/black-smooth-rail-aluminum.jpg')}}" alt="black-smooth-rail-aluminum fence panels">
                <img id="slide3" src="{{ url_for('static', filename='images/black-smooth-rail-aluminum-spiked-bottoms.jpg')}}" alt="bronze-aluminum-standard fence panels">
            </div>    
            <div class="fence-products-slider-nav">
                <a href="#slide1"></a>
                <a href="#slide2"></a>
            </div>
        </div>
    </section>

    <main>
        <h4>
            Schedule an estimate <a href="https://http://127.0.0.1:8080/views.contacts.html" target="_blank">here</a>
        </h4>
    </main>
    </div>
</body>
</html>